# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Chapter4/x64/Debug/vc141.idb
/Chapter4/x64/Debug/Chapter4.tlog/link.write.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/link.read.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/link.command.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/CL.write.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/CL.read.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/CL.command.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/Chapter4.lastbuildstate
/Chapter4/x64/Debug/Chapter4.log
/Chapter4/Debug/vc141.pdb
/Chapter4/Debug/vc141.idb
/Chapter4/Debug/Chapter4.tlog/unsuccessfulbuild
/Chapter4/Debug/Chapter4.tlog/link.write.1.tlog
/Chapter4/Debug/Chapter4.tlog/link.read.1.tlog
/Chapter4/Debug/Chapter4.tlog/link.command.1.tlog
/Chapter4/Debug/Chapter4.tlog/CL.command.1.tlog
/Chapter4/Debug/Chapter4.tlog/Chapter4.lastbuildstate
/Chapter4/Debug/Chapter4.log
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/fe996a0fe6be58e6/MAIN.ipch
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/fccb8d57f2beb37d/MAIN.ipch
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/494b4354e5b5d5cd/MAIN.ipch
/.vs/Dx12BookSamples/v15/Browse.VC.opendb
/.vs/Dx12BookSamples/v15/Browse.VC.db
/.vs/Dx12BookSamples/v15/.suo
/x64/Release/Chapter4.pdb
/x64/Release/Chapter4.ipdb
/x64/Release/Chapter4.iobj
/x64/Release
/x64/Debug/Chapter4.pdb
/x64/Debug/Chapter4.ilk
/Chapter4/x64/Release/vc141.pdb
/Chapter4/x64/Release/Chapter4.tlog/link.write.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/link.read.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/link.command.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/CL.write.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/CL.read.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/CL.command.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/Chapter4.write.1u.tlog
/Chapter4/x64/Release/Chapter4.tlog/Chapter4.lastbuildstate
/Chapter4/x64/Release/Chapter4.tlog
/Chapter4/x64/Release/Chapter4.log
/Chapter4/x64/Release
/Chapter4/x64/Debug/vc141.pdb
/Debug/Chapter4.pdb
/Debug/Chapter4.ilk
