# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Chapter4/x64/Debug/vc141.idb
/Chapter4/x64/Debug/Chapter4.tlog/link.write.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/link.read.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/link.command.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/CL.write.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/CL.read.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/CL.command.1.tlog
/Chapter4/x64/Debug/Chapter4.tlog/Chapter4.lastbuildstate
/Chapter4/x64/Debug/Chapter4.log
/Chapter4/Debug/vc141.pdb
/Chapter4/Debug/vc141.idb
/Chapter4/Debug/Chapter4.tlog/unsuccessfulbuild
/Chapter4/Debug/Chapter4.tlog/link.write.1.tlog
/Chapter4/Debug/Chapter4.tlog/link.read.1.tlog
/Chapter4/Debug/Chapter4.tlog/link.command.1.tlog
/Chapter4/Debug/Chapter4.tlog/CL.command.1.tlog
/Chapter4/Debug/Chapter4.tlog/Chapter4.lastbuildstate
/Chapter4/Debug/Chapter4.log
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/fe996a0fe6be58e6/MAIN.ipch
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/fccb8d57f2beb37d/MAIN.ipch
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/494b4354e5b5d5cd/MAIN.ipch
/.vs/Dx12BookSamples/v15/Browse.VC.opendb
/.vs/Dx12BookSamples/v15/Browse.VC.db
/.vs/Dx12BookSamples/v15/.suo
/x64/Release/Chapter4.pdb
/x64/Release/Chapter4.ipdb
/x64/Release/Chapter4.iobj
/x64/Release
/x64/Debug/Chapter4.pdb
/x64/Debug/Chapter4.ilk
/Chapter4/x64/Release/vc141.pdb
/Chapter4/x64/Release/Chapter4.tlog/link.write.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/link.read.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/link.command.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/CL.write.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/CL.read.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/CL.command.1.tlog
/Chapter4/x64/Release/Chapter4.tlog/Chapter4.write.1u.tlog
/Chapter4/x64/Release/Chapter4.tlog/Chapter4.lastbuildstate
/Chapter4/x64/Release/Chapter4.tlog
/Chapter4/x64/Release/Chapter4.log
/Chapter4/x64/Release
/Chapter4/x64/Debug/vc141.pdb
/Debug/Chapter4.pdb
/Debug/Chapter4.ilk
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/bfc29ab2c56d8bee/MAIN.ipch
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/13611a28ba01656d/MAIN.ipch
*.log
/Chapter4/Debug/Chapter4.tlog/CL.write.1.tlog
/Chapter4/Debug/Chapter4.tlog/CL.read.1.tlog
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/ba3cff947e5582a/D3D12.ipch
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/8e645262de287976/MAIN.ipch
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/eb1a0c95f5b29c85/MAIN.ipch
/Chapter5/Chapter5.vcxproj.user
/Chapter5/.vs/Chapter5/v15/Browse.VC.db
/Chapter5/.vs/Chapter5/v15/.suo
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/121454c66f02545d/MAIN.ipch
/.vs/Dx12BookSamples/v15/Solution.VC.db-wal
/.vs/Dx12BookSamples/v15/Solution.VC.db-shm
/.vs/Dx12BookSamples/v15/Solution.VC.db
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/c3fabaa229f02c24/MAIN.ipch
/Chapter5/x64/Debug/Chapter5.tlog/unsuccessfulbuild
/Chapter5/x64/Debug/Chapter5.tlog/CL.write.1.tlog
/Chapter5/x64/Debug/Chapter5.tlog/CL.read.1.tlog
/Chapter5/x64/Debug/Chapter5.tlog/CL.command.1.tlog
/Chapter5/x64/Debug/Chapter5.tlog/Chapter5.lastbuildstate
/Chapter5/x64/Debug/vc141.pdb
/Chapter5/x64/Debug/vc141.idb
/Chapter5/x64/Debug/Chapter5.tlog/link.write.1.tlog
/Chapter5/x64/Debug/Chapter5.tlog/link.read.1.tlog
/Chapter5/x64/Debug/Chapter5.tlog/link.command.1.tlog
/x64/Debug/Chapter5.pdb
/x64/Debug/Chapter5.ilk
/.vs/Dx12BookSamples/v15/ipch/AutoPCH/bea5bd31df32b0c4/MAIN.ipch
*.ipch
/Chapter5/Debug/vc141.pdb
/Chapter5/Debug/vc141.idb
/Chapter5/Debug/Chapter5.tlog/link.write.1.tlog
/Chapter5/Debug/Chapter5.tlog/link.read.1.tlog
/Chapter5/Debug/Chapter5.tlog/link.command.1.tlog
/Chapter5/Debug/Chapter5.tlog/CL.write.1.tlog
/Chapter5/Debug/Chapter5.tlog/CL.read.1.tlog
/Chapter5/Debug/Chapter5.tlog/CL.command.1.tlog
/Chapter5/Debug/Chapter5.tlog/Chapter5.lastbuildstate
/Debug/Chapter5.pdb
/Debug/Chapter5.ilk
/Chapter5/x64/Debug/Chapter5.tlog/fxc.write.1.tlog
/Chapter5/x64/Debug/Chapter5.tlog/fxc.read.1.tlog
/Chapter5/x64/Debug/Chapter5.tlog/fxc.command.1.tlog
/x64/Debug/BasicVS.cso
/Chapter5/BasicPS.hlsl
/Chapter5/Debug/Chapter5.tlog/fxc.write.1.tlog
/Chapter5/Debug/Chapter5.tlog/fxc.read.1.tlog
/Chapter5/Debug/Chapter5.tlog/fxc.command.1.tlog
/Debug/BasicShader.cso
/x64/Debug/BasicShader.cso
/Chapter5/d3dx12.h
x64
/Chapter6_CopyTexture/img/textest.png
/Chapter6_CopyTexture/Chapter6_copytex.vcxproj.user
/Chapter7/img/textest.png
/Chapter7/Chapter7.vcxproj.user
/Chapter8/Model/鏡音レン.pmd
/Chapter8/Model/鏡音リン_act2.pmd
/Chapter8/Model/鏡音リン.pmd
/Chapter8/Model/弱音ハク.pmd
/Chapter8/Model/巡音ルカ.pmd
/Chapter8/Model/咲音メイコ.pmd
/Chapter8/Model/初音ミクVer2.pmd
/Chapter8/Model/初音ミクmetal.pmd
/Chapter8/Model/初音ミク.pmd
/Chapter8/Model/亞北ネル.pmd
/Chapter8/Model/ダミーボーン.pmd
/Chapter8/Model/カイト.pmd
/Chapter8/Model/sakine1.bmp
/Chapter8/Model/mikuhair.sph
/Chapter8/Model/metal.sph
/Chapter8/Model/MEIKO.pmd
/Chapter8/Model/eyeR2.bmp
/Chapter8/Model/eyeMe2.bmp
/Chapter8/Model/eyeM2.bmp
/Chapter8/Model/eyelu.bmp
/Chapter8/Model/eyeKT.bmp
/Chapter8/Model/eye4.bmp
/Chapter8/Model/eye3Ne.bmp
/Chapter8/Model/eye3.bmp
/Chapter8/Model/eye2.bmp
/Chapter8/Model/ao.bmp
/Chapter8/Model/a4.sph
/Chapter8/Model/a3.spa
/Chapter8/Model/a2.spa
/Chapter8/Model/a1.sph
/Chapter8/Debug/Chapter8.tlog/unsuccessfulbuild
/Chapter8/Debug/Chapter8.tlog/fxc.write.1.tlog
/Chapter8/Debug/Chapter8.tlog/fxc.read.1.tlog
/Chapter8/Debug/Chapter8.tlog/fxc.command.1.tlog
/Chapter8/Debug/Chapter8.tlog/CL.command.1.tlog
/Chapter8/Debug/Chapter8.tlog/Chapter8.lastbuildstate
/Chapter8/model/toon10.bmp
/Chapter8/model/toon09.bmp
/Chapter8/model/toon08.bmp
/Chapter8/model/toon07.bmp
/Chapter8/model/toon06.bmp
/Chapter8/model/toon05_1.bmp
/Chapter8/model/toon05.bmp
/Chapter8/model/toon04.bmp
/Chapter8/model/toon03.bmp
/Chapter8/model/toon02.bmp
/Chapter8/model/toon01.bmp
/Chapter8/model/swing.vmd
/Chapter8/model/satori/古明地さとり152Normal.txt
/Chapter8/model/satori/Wear.dds
/Chapter8/model/satori/toongrey.bmp
/Chapter8/model/satori/tooneye.bmp
/Chapter8/model/satori/toonblue.bmp
/Chapter8/model/satori/satori.pmd
/Chapter8/model/satori/Readme.txt
/Chapter8/model/satori/other_texture/Wear_blue.dds
/Chapter8/model/satori/other_texture/Hair_purple.dds
/Chapter8/model/satori/other_texture/Hair_pink.dds
/Chapter8/model/satori/other_texture
/Chapter8/model/satori/Hair.dds
/Chapter8/model/satori/Face.dds
/Chapter8/model/satori/Body2.dds
/Chapter8/model/satori/Body.dds
/Chapter8/model/satori/@toonskin.bmp
/Chapter8/model/satori
/Chapter8/model/reimu/toon7.bmp
/Chapter8/model/reimu/toon5.bmp
/Chapter8/model/reimu/toon1.bmp
/Chapter8/model/reimu/tama.bmp
/Chapter8/model/reimu/r_hair.bmp
/Chapter8/model/reimu/r_cloth.bmp
/Chapter8/model/reimu/r_body.bmp
/Chapter8/model/reimu/reimu.pmd
/Chapter8/model/reimu/readme.txt
/Chapter8/model/reimu/harai.bmp
/Chapter8/model/reimu/h.spa
/Chapter8/model/reimu/cheek.tga
/Chapter8/model/reimu
/Chapter8/model/pose.vmd
/Chapter8/model/motiontest.vmd
/Chapter8/model/kizunaai.pmx
/Chapter8/model/hibiki/我那覇響v1_お着替えバージョン.pmx
/Chapter8/model/hibiki/ハム蔵のようなもの単品.pmd
/Chapter8/model/hibiki/アイマスカメラ.vmd
/Chapter8/model/hibiki/Thumbs.db
/Chapter8/model/hibiki/redome.txt
/Chapter8/model/hibiki/kage4.bmp
/Chapter8/model/hibiki/kage3.bmp
/Chapter8/model/hibiki/kage2.bmp
/Chapter8/model/hibiki/kage.bmp
/Chapter8/model/hibiki/hibiki_tec5.jpg
/Chapter8/model/hibiki/hibiki_tec4.jpg
/Chapter8/model/hibiki/hibiki_tec3.jpg
/Chapter8/model/hibiki/hibiki_tec2.jpg
/Chapter8/model/hibiki/hibiki_tec1.jpg
/Chapter8/model/hibiki/hibiki.pmd
/Chapter8/model/hibiki/hair.spa
/Chapter8/model/hibiki/hair.bmp
/Chapter8/model/hibiki/hada.spa
/Chapter8/model/hibiki/hada.bmp
/Chapter8/model/hibiki/gravia.pmd
/Chapter8/model/hibiki/gold.spa
/Chapter8/model/charge.vmd
/Chapter8/Debug/vc141.pdb
/Chapter8/Debug/vc141.idb
/Chapter9/Model/鏡音レン.pmd
/Chapter9/Model/鏡音リン_act2.pmd
/Chapter9/Model/鏡音リン.pmd
/Chapter9/Model/弱音ハク.pmd
/Chapter9/Model/巡音ルカ.pmd
/Chapter9/Model/咲音メイコ.pmd
/Chapter9/Model/初音ミクVer2.pmd
/Chapter9/Model/初音ミクmetal.pmd
/Chapter9/Model/初音ミク.pmd
/Chapter9/Model/亞北ネル.pmd
/Chapter9/Model/ダミーボーン.pmd
/Chapter9/Model/カイト.pmd
/Chapter9/Model/sakine1.bmp
/Chapter9/Model/mikuhair.sph
/Chapter9/Model/metal.sph
/Chapter9/Model/MEIKO.pmd
/Chapter9/Model/eyeR2.bmp
/Chapter9/Model/eyeMe2.bmp
/Chapter9/Model/eyeM2.bmp
/Chapter9/Model/eyelu.bmp
/Chapter9/Model/eyeKT.bmp
/Chapter9/Model/eye4.bmp
/Chapter9/Model/eye3Ne.bmp
/Chapter9/Model/eye3.bmp
/Chapter9/Model/eye2.bmp
/Chapter9/Model/ao.bmp
/Chapter9/Model/a4.sph
/Chapter9/Model/a3.spa
/Chapter9/Model/a2.spa
/Chapter9/Model/a1.sph
/Chapter9/Model
/Chapter9/img/textest.png
